/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2016, 9:35:33 PM
    Author     : TDavid
*/

.nav-list-item{
    -fx-text-fill: white;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/xdecoder/assets/list-icon.jpg');
}

.nav-list-item:hover{
    -fx-text-fill: red;
}